<div class="sidebar">
    <aside>
        <button class="close-button" onclick="document.getElementsByClassName('sidebar')[0].classList.remove('show');" aria-label="Close the sidebar">
            ❌
        </button>
        <p>🌐Choose a language</p>
        <select id="language-select">
            <option value="zh-CN">简体中文</option>
            <option value="en-US" selected>English</option>
        </select>
        <button onclick='var selectedLanguage = document.getElementById("language-select").value;
        window.location.href = "/" + selectedLanguage + "/index.html";'>go</button>
    </aside>
</div>