---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Sidebar from '../../components/Sidebar.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../../i18n/ui';

export function getStaticPaths() {
  return [
    { params: { lang: 'en-us' } },
    { params: { lang: 'zh-cn' } },
  ];
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);

const posts = (await getCollection('devblogs', ({ id }) => {
  return id.startsWith(lang + '/');
})).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const projects = await getCollection('projects', ({ id }) => {
  return id.startsWith(lang + '/');
});

const getPostSlug = (id: string, lang: string) => {
  return id.replace(/^[^/]+\//, '').replace(/\.md$/, '');
};
---

<BaseLayout title="DevScholar" lang={lang}>
	<Header slot="header" />
	<Sidebar slot="sidebar" />
	
	<section class="home">
		<h1>{t('welcome')}</h1>
		<p>{t('welcomeDesc')}</p>
	</section>
</BaseLayout>

<style>
	.home h2 {
		margin-top: 30px;
	}
	.devblogs-list, .project-list {
		list-style: disc;
		padding-left: 20px;
	}
	.project-list li {
		margin-bottom: 15px;
	}
	.project-list h3 {
		margin: 0 0 5px 0;
	}
	.project-list p {
		margin: 0;
		color: #808080;
	}
</style>
