---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Sidebar from '../../components/Sidebar.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../../i18n/ui';

export function getStaticPaths() {
  return [
    { params: { lang: 'en-us' } },
    { params: { lang: 'zh-cn' } },
  ];
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);

const homePages = await getCollection('home', ({ id }) => {
  return id.startsWith(lang + '/');
});

const homePage = homePages[0];
const { Content, headings } = await homePage.render();
const hasH1Heading = headings.some(h => h.depth === 1);
---

<BaseLayout title={homePage.data.title + ' - DevScholar'} lang={lang}>
	<Header slot="header" />
	<Sidebar slot="sidebar" />
	
	<section class="home">
		{!hasH1Heading && (
			<Content />
		)}
		{hasH1Heading && (
			<div class="content">
				<Content />
			</div>
		)}
	</section>
</BaseLayout>

<style>
	.home :global(h1:first-of-type) {
		display: none;
	}
	.home :global(.content h1:first-of-type) {
		display: none;
	}
	.home :global(h2) {
		margin-top: 30px;
	}
	.home :global(ul) {
		list-style: disc;
		padding-left: 20px;
	}
	.home :global(li) {
		margin-bottom: 10px;
	}
</style>
